.vs
.vs/*
WizQuixTwitchPaint/bin/Debug
WizQuixTwitchPaint/bin/Debug/*
WizQuixTwitchPaint/obj
WizQuixTwitchPaint/obj/*
WizQuixTwitchPaintApiService/bin/Debug
WizQuixTwitchPaintApiService/bin/Debug/*
WizQuixTwitchPaintApiService/obj
WizQuixTwitchPaintApiService/obj/*
WizQuixTwitchPaintApiService/settings.json
