.vs
.vs/*
packages
packages/*
WizQuixTwitchPaint/bin/Debug
WizQuixTwitchPaint/bin/Debug/*
WizQuixTwitchPaint/obj
WizQuixTwitchPaint/obj/*
WizQuixTwitchPaintApiService/bin/Debug
WizQuixTwitchPaintApiService/bin/Debug/*
WizQuixTwitchPaintApiService/obj
WizQuixTwitchPaintApiService/obj/*
WizQuixTwitchPaintApiService/settings.json
WizQuixTwitchPaintApiService/Properties
WizQuixTwitchPaintApiService/Properties/*
WizQuixTwitchPaintExtension/release/WizQuixPaint.json
WizQuixTwitchPaintExtension/node_modules
WizQuixTwitchPaintExtension/node_modules/*
Test
Test/*